@use "./variables" as *;

.calculator__buttons {
    margin: 2rem 0 2rem 0;

    button {
        padding: 0.5rem;
        margin: 0.5rem;

    }

    .btn__btn-function {
        background-color: $function-button-color;
        color: $function-text-color;
        

        &:hover{
            background-color: blue;
        }

    }

    .btn__btn-opperator {
        background-color: $opperator-button-color;
        color: $number-text-color;
    }

    .btn__btn-num {
        background-color: $number-button-color;
        color: $number-text-color;
    }

    .btn__btn-num-0 {
        background-color: $number-button-color;
        color: $number-text-color;
    }
}