@use "./variables" as *;

.calculator__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    button {
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 1.09375rem;
        cursor: pointer;
    }

    .btn__btn-function {
        background-color: $function-button-color;
        color: $function-text-color;
    }

    .btn__btn-opperator {
        background-color: $opperator-button-color;
        color: $number-text-color;
    }

    .btn__btn-equal {
        background-color: $opperator-button-color;
        color: $number-text-color;
    }

    .btn__btn-num {
        background-color: $number-button-color;
        color: $number-text-color;
        
    }

    #zero {
        background-color: $number-button-color;
        color: $number-text-color;
        grid-column: 1/3;
    }
}