$background-color: black;
$number-text-color: white;
$number-button-color: grey;
$top-button-color: lightgrey;
$top-text-color: black;
$operation-button-color: orange;
$header-footer-color: goldenrod;