$background-color: black;
$number-text-color: white;
$number-button-color: grey;
$function-button-color: lightgrey;
$function-text-color: black;
$opperator-button-color: orange;
$header-footer-text-color: #808080;