@use "./variables" as *;
@use "./header-footer";
@use "./buttons";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator__container{
    height: 30rem;
    padding: 1rem;
    background-color: $background-color;
    margin: 1rem 0 1rem 0;

    .calculator__screen {
        height: 9rem;
        text-align: end;
        margin: 1rem 0 1rem 0;
        color: $number-text-color;
        font-size: 3rem;
    }
}

@media screen and (min-width: 426px) {
    main {
        display: flex;
        justify-content: center;
        
        .calculator__container {
        border-radius: 5%;
        width: 26.563rem;
        }   
    }
}
    

