@use "./variables" as *;
@use "./header-footer";
@use "./buttons";
@use "./calculator-buttons";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    main{
        background-color: $background-color;
    }

}
